.cards-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-bottom: 2rem;
}

.example-card {
  max-width: 400px;
}


.mat-h2{
  text-align: center;
 }